.card{
border-radius: 20px;
&:hover{
  transform: translateY(-1.8vw); // Slightly enlarge on hover
  transition: 0.3s ease-in-out;
}
}

.name{
  font-size: 1vw;
  margin-top: 0.3vw;
}

.balance{
  font-size: 1vw;
  margin-top: 0.001vw;
}