// src/components/Dropdown.scss
.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: var(--Secondary);
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: #99A3BA;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
 
  &.light {
      --text: #CDD9ED;
      --border: #CDD9ED;
      --borderActive: var(--Secondary);
      --background: #000000;
      --arrow: #99A3BA;
      --arrowActive: #6C7486;
      --listText: #99A3BA;
      --listBackground: #050505;
      --listActive: #F5F9FF;
      --listTextActive: #6C7486;
      --listBorder: #E4ECFA;
      --textFilled: #6C7486;
  }
  z-index: 1000; 
  width: 220px;
  position: relative;

  & > span {
    z-index: 1000; 
      cursor: pointer;
      padding: 9px 16px;
      border-radius: 6px;
      display: block;
      position: relative;
      color: var(--text);
      border: 1px solid var(--border);
      background: black;
      transition: all .3s ease;

      &:before,
      &:after {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 2px;
          border-radius: 1px;
          top: 50%;
          right: 15px;
          background: var(--arrow);
          transition: all .3s ease;
      }

      &:before {
          margin-right: 4px;
          transform: scale(.96, .8) rotate(50deg);
      }

      &:after {
          transform: scale(.96, .8) rotate(-50deg);
      }
  }

  ul {
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none; // Nasconde completamente la scrollbar
        // Alternativa (a volte più compatibile se 'display: none' dà problemi):
        // width: 0;
        // height: 0;
        // background: transparent; // Rende trasparente lo sfondo della scrollbar (utile con width/height > 0)
      }
      
      margin: 0;
      padding: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      max-height: calc(var(--max-scroll) * 42px);
      top: 42px;
      left: 0;
      z-index: 1000;
      right: 0;
      background: black;
      border-radius: 6px;
      overflow-x: hidden;
      overflow-y: auto;
      transform-origin: 0 0;
      transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
      transform: scale(.8) translate(0, 4px);
      border: 1px solid var(--listBorder);

      li {
          opacity: 0;
          transform: translate(6px, 0);
          transition: all .3s ease;

          a {
              cursor: pointer;
              display: block;
              padding: 10px 16px;
              color: var(--listText);
              text-decoration: none;
              outline: none;
              position: relative;
              transition: all .3s ease;

              &:hover {
                  color: var(--listTextActive);
              }
          }

          &.active {
              a {
                  color: var(--listTextActive);
                  background: var(--Secondary);

                  &:before,
                 

                  &:before {
                      transform: rotate(45deg) scale(var(--scale));
                  }

                  &:after {
                      transform: rotate(-45deg) scale(var(--scale));
                  }

                  &:hover {
                      &:before,
                      &:after {
                          --scale: .9;
                          opacity: 1;
                      }
                  }
              }
          }

          &:first-child a {
              border-radius: 6px 6px 0 0;
          }

          &:last-child a {
              border-radius: 0 0 6px 6px;
          }
      }
  }

  &.filled {
      & > span {
          color: var(--textFilled, var(--text));
      }
  }

  &.open {
      & > span {
          border-color: var(--borderActive);

          &:before,
          &:after {
              background: var(--arrowActive);
          }

          &:before {
              transform: scale(.96, .8) rotate(-50deg);
          }

          &:after {
              transform: scale(.96, .8) rotate(50deg);
          }
      }

      ul {
          opacity: 1;
          visibility: visible;
          transform: scale(1) translate(0, 12px);
          transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);

          li {
              opacity: 1;
              transform: translate(0, 0);

              @for $i from 1 through 10 {
                  &:nth-child(#{$i}) {
                      transition-delay: #{$i * 80}ms;
                  }
              }
          }
      }
  }
}