.formContainer{
  border: 2px solid hsl(0, 0%, 16%);
  border-radius: 30px;
  min-height: 10rem;
  height:max-content;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.valid{
  border: 2px solid var(--Secondary);
  transition: all 0.5s ease-in;
}
