.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.otp-field {
  display: flex;
}

.otp-field input[type="number"] {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #303030;
  background-color: transparent;
  color: white;
  outline: none;
  /* Rimuove le frecce di incremento/decremento */
  -moz-appearance: textfield;
  appearance: textfield;
}

.otp-field input[type="number"]::-webkit-inner-spin-button,
.otp-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-field input:focus {
  border: solid 2px var(--Secondary);

}

.otp-field input:disabled {
  background-color: white;
  cursor: not-allowed;
}

.inputLeft{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.inputRight{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.responseOTP{
  color: var(--Secondary);
}