@keyframes pulseIcon {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.02);
  }
  20% {
    transform: scale(1.04);
  }
  30% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.08);
  }
  60% {
    transform: scale(1.06);
  }
  70% {
    transform: scale(1.04);
  }
  80% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blur-motion {
  0% {
    filter: blur(0px);
    transform: translateX(0);
  }
  50% {
    filter: blur(3px);
    transform: translateX();
  }
  100% {
    filter: blur(0px);
    transform: translateX(0);
  }
}

.Menu {
  width: 70px;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--PrimaryLight);
  color: var(--TextPrimary);
}

.Extend {
  width: 200px;
}

.menu-icon {
  width: 30px !important;
  height: 30px !important;
  flex-shrink: 0;
  transform-origin: center;
}

.Icon {
  width: 30px !important;
  height: 30px !important;
  flex-shrink: 0;
  transform-origin: center;
}

.Icon.Hover {
  color: var(--Secondary) !important;
  transition: all 0.3s ease;
  animation: pulseIcon 1.2s infinite;
  filter: drop-shadow(0 0 5px var(--Secondary));
  transition: filter 0.3s;
}

.Text {
    padding: 5px;
  font-size: 16px;
}
.Text.Hover {
color: var(--Secondary);
}

.Text.Blur {
  filter: blur(1px);
 opacity: 0.5;
  transition: all 0.4s ;
}
