.toggle {
  position: absolute;
  width: 320%;
  height: 150%;
  border-radius: 50px;
  border: solid hsl(0, 0%, 13%) 2px;
}

.toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(0, 0%, 3%);
  border-radius: 50px;
  -webkit-mask: radial-gradient(ellipse 30% 35% at 55% 40%, transparent 98%, black 100%);
  mask: radial-gradient(ellipse 16% 39% at 52% 50%, transparent 98%, black 100%);
}
.text{
  color: hsla(0, 0%, 89%, 0.432);
  font-size: 0.6vw;
}

.activeText{
  margin-top: -0.3vw;
  color: hsl(0, 0%, 90%);
  font-size: 0.8vw;
}