@keyframes hiddenButton {
  100% {
    opacity: 0%;
  }
}

.hidden {
  animation: hiddenButton 1s forwards;
}

.titles{
  font-size: clamp(20px,3vw,55px);
  color:hsl(0, 0%, 71%);
  &:hover{
    color: hsl(0, 0%, 45%);
    transition: all 1s ;
  }
}

.paragraf{
  font-size: clamp(10px,1.5vw,55px);
  color:hsl(0, 0%, 71%);
  &:hover{
    color: hsl(0, 0%, 45%);
    transition: all 1s ;
  }
}