@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Default'; /* nome del font */
  src: url('../Fonts/PPPierSans/PPPierSans-Regular.otf') format('opentype'); /* Percorso al file OTF */
}


:root {
  /*scroll-behavior: smooth;*/
/* Sfondo principale */
--Background: #151515;
/* Colori principali */
--Primary: rgba(46, 46, 46); 
--PrimaryOpacity80: rgba(46, 46, 46, 0.8); 
--PrimaryOpacity60: rgba(46, 46, 46, 0.6);
--PrimaryOpacity40: rgba(46, 46, 46, 0.4);

--PrimaryLight: rgb(34, 34, 34); 
--PrimaryDark: rgb(29, 29, 29); 

--Secondary: rgb(0, 255, 200);

/* Text */
--TextPrimary: #ffffff; 
--TextSecondary: #999999; 

--Border: var(--Secondary); 

/* Gradienti */
--Gradient: linear-gradient(to bottom, var(--Primary), #faa1b7);

/* Sizes */
--FontS: 16px;
--FontM: 19px;
--FontL: 25px;
--FontXL: 33px;
}

body {
  font-family: 'Default','Times New Roman', Times, serif; /* Font di default */
  background-color: var(--Background);
  overflow-x: hidden;
}
h1 {
  color: var(--TextPrimary);
  font-size: var(--FontXL);
  margin: 3rem auto;
}

h2{
  color: var(--TextPrimary);
  font-size: var(--FontL);
  margin: 2rem auto;
}

h3{
  color: var(--TextPrimary);
  font-size: var(--FontM);
  margin: 1.5rem auto;
}

p {
  color: var(--TextPrimary);
  font-size: var(--FontS);
  margin: 1rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
